<div class="vertical-center horizontal-center" style="background: #23463F">
    <div class="wide form">
        <h1>Editing Announcement</h1>
        <%= render 'form', announcement: @announcement %>
    </div>
</div>