<div class="vertical-center horizontal-center" style="background: #23463F">
    <div style="background: floralwhite;" class="form">
        <h1>New User</h1>
        <%= render 'form', user: @user %>
    </div>
</div>