<style>
    .login {  
        width: 382px;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 50px;  
        background: #23463f;  
        border-radius: 35px;
    }  

    p {  
        color: white;  
        font-size: 40px;
        text-align:center;
    }  

    .buttonholder {
        text-align: center;
    }

    .button1 {
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        color: black;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        background-color: white;
        text-align:center;
        transition: all 0.2s;
    }

    #notice {
        font-size: 20px;
        color: limegreen;
    }
</style>


<html>    
    <body id="splash">
        <div class="vertical-center horizontal-center">
            <div class="login form wide" style="background: #23463F">
                <p id="notice"><%= notice %></p>
                <div>
                    <img src=<%= asset_path("saifd.png") %> alt="SAIFD Logo" width="100%" height="100%">
                </div>
                <form style="color:white; font-size: 40px; text-align:center"> SAIFD Member Login Page </form>
                <br>
                <div class="buttonholder">
                    <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, :class => "button1 btn" %>
                </div>
            </div>
        </div>
    </body>
</html>





