<div class="vertical-center horizontal-center">
    <div class="form wide">
        <h1>Welcome to the SAIFD Members App</h1>
        <p><strong>Overview</strong></p>
        <p>This application is intended for the members, officers and advisors of SAIFD to track and record attendance to events, create events, and broadcast information about events to members of SAIFD.</p>
        <p><strong>As a Member</strong></p>
        <p>Most users of the app will only have permissions to view events, record attendance to events, and view relevant announcements. Regular members will NOT have access to creating or modifying existing events, viewing all attendance records, and creating new announcements. If you attempt to do these actions, you will be prevented from doing so by the app. If you believe this is an error, contact an admin (example: club advisor) to get permissions.</p>
        <p>In order to properly receive announcements about events, it is recommended to log attendance records ahead of the event with your expected attendance time. Members need to log attendance for an event to receive announcements about the event. You can always change the duration of your attendance or remove the record, for example if you ended up not attending an event.</p>
        <p><strong>As an Officer</strong></p>
        <p>Officers have a variety of abilities above a regular member, including viewing attendance records, creating new events or creating new announcements. You can only receive these permissions from an admin. Contact an admin (example: club advisor) if you believe you need permissions.</p>
        <p><strong>As an Admin</strong></p>
        <p>Admins have all possible permissions of an officer, plus the ability to give out and remove permissions to all users. Care should be taken not to remove an admin's permissions without another account being an admin.</p>
        <h2>FAQ</h2>
        <p><strong>I came in early to an event but I can't register the time that I came in. Why is this?</strong></p>
        <p>The attendance record functionality allows you to register your start and end time within 2 hours of an event beginning or 2 hours of an event ending. If you arrive or leave before or after this threshold, record the earliest possible time.</p>
        <p><strong>What is Heroku and why is it important?</strong></p>
        <p>Heroku is a service used to host the SAIFD member application. It is the centralized<br />location which brings all components required to run the application together. This is the most important<br />service that keeps this application running for SAIFD.</p>
        <%= link_to 'Back', root_path, class:'btn' %>
    </div>
</div>