.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.form {
    border-radius: 10px;
    padding: 30px;
    height: 80%;
    max-height: 580px;
    background: floralwhite;
}

.table-row-spacing {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table-overflow {
    height: 70%;
    overflow: auto;
}

div.actions {
    display: flex;
    flex-direction: row-reverse;
}

div.actions > a, div.actions > input  {
    width: 50%;
}

th, td {
    padding-right: 30px !important;
    vertical-align: top;
}

label {
    margin-right: 10px;
    margin-top: 5px;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: #23463F !important;
}

.desc {
    overflow-wrap: anywhere;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #919191;    /* color of the scroll thumb */
    border-radius: 20px;
}

textarea {
    width: 50vw;
    height: 20vh;
    resize: none;
}

.btn {
    background: #E5E5E5;
    border: 0.5px solid black;
}

.btn:hover, .btn:focus, .btn.focus {
    color: white !important;
    background: #333 !important;
}