.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.horizontal-center {
    display: flex;
    align-items: center;
}

.form {
    background: #23463F;
    border-radius: 10px;
    padding: 30px;
    height: 80%;
    max-height: 580px;
    background: floralwhite;
}

.table-row-spacing {
    border-collapse: separate;
    border-spacing: 0 15px;
}

div.actions {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

div.actions > a, div.actions > input  {
    width: 50%;
}

label {
    margin-right: 10px;
    margin-top: 5px;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}