<div class="vertical-center horizontal-center" style="background: #23463F">
    <div class="wide form">
        <h1>New Attendance Record</h1>
        <%= render 'form', attendance: @attendance %>
    </div>
</div>